@import url('https://fonts.googleapis.com/css2?family=Fjalla+One');

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 0px;
  text-shadow: 0px 1px 10px #212529CC;
}

header.masthead .intro-text .intro-heading {
  margin-bottom: 10px;
}

#mainNav .navbar-brand {
  font-size: 3.75em;
  font-family: "Fjalla One", sans-serif, system;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #faca16;
}

#mainNav .logoblack {
  color: black;
}

#mainNav.navbar-shrink {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #218380;
}

.nav-link {
  text-shadow: 0px 0px 10px #212529CC;
}

section#related {
  background-color: #212529;
}

blockquote p {
  font-style: italic;
  background-color: #f8f9fa;
  text-align: center;
}

table {
  margin: 0 auto;
}

.review table {
  font-size: xx-large;
}

a {
  color: #f7bf00;
}

th {
  text-align: inherit;
  padding: .25em 1em;
}

td {
  padding: 0.25em 1em;
}

td .img {
aspect-ratio: auto;
height: 100%;
}

tbody tr:nth-child(2n+1) {
  background-color: #f0f0f0;
}

#mainNav {
    background-color: #218380;
}
