@import url('https://fonts.googleapis.com/css2?family=Fjalla+One');

header.masthead{
    background-image:url("../img/gridobjects.jpg");
}

header.masthead .intro-text {
  text-shadow: 0px 1px 5px #212529CC;
}

#mainNav .navbar-brand {
  font-size: 3.75em;
  font-family: "Fjalla One", sans-serif, system;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #faca16;
}

#mainNav .logoblack {
  color: black;
}

.navbar-shadow {
  text-shadow: 0px 0px 5px darkgray;
}

.navbar-shadow.navbar-shrink {
  text-shadow: none;
}

#mainNav.navbar-shrink {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #218380;
}

.nav-link {
  text-shadow: 0px 0px 5px #212529CC;
}

section#related {
  background-color: #212529;
}

blockquote p {
  font-style: italic;
  background-color: #f8f9fa;
  text-align: center;
}

table {
  margin: 0 auto;
}
