<!-- Contact -->

<section class="page-section" id="contact">
  <div class="container">
</div>
</section>

<!-- End Contact -->


  <!-- Footer -->
<footer class="footer" id="footer" style="background-color: white">
<div class="container">
  
  <div class="row align-items-center">
    <div class="col-md-4">
      <span class="copyright"
        >Copyright &copy; Good But Cheap 2022</span
      >
    </div>
    <!-- Social Media -->
    <div class="col-md-4">
      <ul class="list-inline social-buttons">
        
        <!-- <li class="list-inline-item">
          
          <a href="https://en.wikipedia.org/wiki/Avocado">
            <i class="fa-regular fa-avocado"></i>
          </a>
          
        </li>
        
        <li class="list-inline-item">
          
          <a href="https://en.wikipedia.org/wiki/Tomato">
            <i class="fa-solid fa-tomato"></i>
          </a>
          
        </li>
        
        <li class="list-inline-item">
          
          <a href="https://en.wikipedia.org/wiki/Croissant">
            <i class="fa-solid fa-croissant"></i>
          </a>
          
        </li>
        
        <li class="list-inline-item">
          
          <a href="https://en.wikipedia.org/wiki/Lime_(fruit)">
            <i class="fa-duotone fa-citrus-slice"></i>
          </a>
          
        </li>
        
        <li class="list-inline-item">
          
          <a href="https://en.wikipedia.org/wiki/Pineapple">
            <i class="fa-regular fa-pineapple"></i>
          </a>
          
        </li> -->
        
      </ul>
    </div>
    <!-- Legal -->
    <div class="col-md-4">
      <ul class="list-inline quicklinks">
        <li class="list-inline-item">
          <!-- <a href="legal"
            >Privacy Policy</a -->
          >
        </li>
      </ul>
    </div>
  </div>
  
</div>
</footer>

<!-- End Footer -->


  <!-- Bootstrap core JavaScript -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/js/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <!-- <script src="http://good-but-cheap.github.io/agency-theme-test/assets/js/jqBootstrapValidation.js"></script>
  <script src="http://good-but-cheap.github.io/agency-theme-test/assets/js/contact_me.js"></script> -->

  <!-- Custom scripts for this template -->
  <script src="/js/agency.min.js"></script>

</body>
</html>