<!DOCTYPE html>
<html lang="en">

  <head>  

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="The CritiPicks Team">

  <title>CritiPicks</title>

  <!-- Custom fonts for this template -->
  <link href="/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


  <meta name="p:domain_verify" content="82c07e666d29749d3336809db1db94da"/>

  <!-- Page container change top padding when nav shrinks -->
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4QBMTRRZ8Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4QBMTRRZ8Z');
</script>

  <body id="page-top">

        <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shadow" id="mainNav">
    <div class="container">
	  <a class="navbar-brand js-scroll-trigger" href="#page-top">Criti<span class="logoblack">Picks</span></a>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
        
        </ul>
        </div>


    </div>
  </nav>
  <!-- End Navigation -->
  
  <!-- Header -->
  
  <header class="masthead">
    <div class="container">
      <div class="intro-text"><div class="intro-lead-in"><p>Product reviews that explain how to</p></div>
      <div class="intro-heading text-uppercase"><p>Choose Products like an Expert</p></div>
  </header>
  
  <!-- End Header -->

<!-- Top Review Grid -->
<section class="bg-light page-section" id="related">
  <div class="container">
    <div class="row">
      <p>CritiPicks is currently down for maintenance. Please check back soon.</p>
    </div>
    <div class="row">
    

    
    </div>
  </div>
</section>

<!-- Contact -->

<section class="page-section" id="contact">
  <div class="container">
    <div class="row align-items-center">
    </div>
</div>
</section>

<!-- End Contact -->


  <!-- Footer -->
<footer class="footer" id="footer" style="background-color: white">
<div class="container">

  
</div>
</footer>

<!-- End Footer -->


</body>
</html>
