---
layout: default
---

{% include nav.html %}


<article class="review">


    <img src="{{ page.picture }}" alt="Photo of a {{ page.title | downcase }}">


  <h1>Product Review: {{ page.title }}</h1>

  <div>
    {{ content }}
  </div>

</article>

<!-- Bootstrap core JavaScript -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../assets/js/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="../assets/js/jqBootstrapValidation.js"></script>
<script src="../assets/js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="../assets/js/agency.min.js"></script>

<!-- Bootstrap core CSS -->
<link href="../assets/css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom fonts for this template -->
<link href="../assets/css/all.min.css" rel="stylesheet" type="text/css">

<!--<link href="assets/css/agency.min.css" rel="stylesheet">-->
<link href="../assets/css/agency.css" rel="stylesheet" />