{% include pageheader.html %}
  
  <!-- Header -->
  
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading text-uppercase"><p>{{page.title}}</p></div>
      </div>
    </div>
  </header>
  
  <!-- End Header -->


<!-- Top Review Grid -->

<section class="bg-light page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      </div>
    </div>

    <div class="row">

      {% assign alltags = "" %}
      {% for review in site.reviews %}
      {% assign alltags = alltags | concat: review.tags }
      {% endfor %}
      {{ alltags }}

    </div>
  </div>
</section>



{% include pagefooter.html %}
