{% include pageheader.html %}
  
  <!-- Header -->
  
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading text-uppercase"><p>{{page.title}}</p></div>
      </div>
    </div>
  </header>
  
  <!-- End Header -->


<!-- Top Review Grid -->

<section class="bg-light page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      </div>
    </div>

    <div class="row">

      {% assign alltags = "" %}
      {% for review in site.reviews %}
      {% assign alltags = alltags | concat: review.tags }
      {% endfor %}

      {% assign alltags = alltags | uniq %}
      {% for tag in alltags %}
        <h2 style="display: inline-block"><a onclick="showtag({{tag}},{{alltags}})">{{ tag }}</a></h2>
      {% endfor %}

      <h3 id="selected-tag-name"></h3>
      {% for review in site.reviews %}
      <div class="tag 
      {% for tag in review.tags %}
        tag-{{ tag }} 
      {% endfor %}
      ">
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" href="{{review.url}}">
            <img class="img-fluid" src="{{review.picture}}" alt="">
            </a>
            <div class="portfolio-caption">
            <h4>{{review.title}}</h4>
            <p class="text-muted"></p>
            </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>

<script>
    function showtag(tag,alltags) {
        {% for t in alltags %}
        document.getElementsByClassName('tag-{{ t }}').style.display = "none";
        {% endfor %}
        document.getElementsByClassName('tag-' + tag).style.display = "block";
        document.getElementById('selected-tag-name').innerHTML= tag
    }
</script>

{% include pagefooter.html %}
