{% include pageheader.html %}
  
  <!-- Header -->
  
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading text-uppercase"><p>{{page.title}}</p></div>
      </div>
    </div>
  </header>
  
  <!-- End Header -->


<!-- Top Review Grid -->

<section class="bg-light page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      </div>
    </div>

    <div class="row">

      {% assign alltags = "" %}

      {% for review in site.reviews %}
        {% assign alltags = alltags | concat: review.tags %}
      {% endfor %}
      <p>before: {{ alltags }}</p>
      <p>uniq: {{ alltags | uniq }}</p>
      <p>join: {{ alltags | uniq | join " ; " }}</p>
      <p>compact: {{ alltags | uniq | compact }}</p>
      {% assign alltags = alltags | uniq | join: ';' | strip | split: ';' | compact %}
      <p>after: {{alltags}}</p>
      {% for tag in alltags %}
        <h2 style="display: inline-block"><a href='#' onclick="showtag('{{tag}}');return false;">{{ tag }} &nbsp;</a></h2> 
      {% endfor %}

      <h3 id="selected-tag-name"></h3>
      {% for review in site.reviews %}
      <div class="tag 
      {% for tag in review.tags %}
        tag-{{ tag }} 
      {% endfor %}
      ">
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" href="{{review.url}}">
            <img class="img-fluid" src="{{review.picture}}" alt="">
            </a>
            <div class="portfolio-caption">
            <h4>{{review.title}}</h4>
            <p class="text-muted"></p>
            </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>

<script>
    function showtag(tag) {
        {% for t in alltags %}
        document.getElementsByClassName('tag-{{ t }}').style.display = "none";
        {% endfor %}
        document.getElementsByClassName('tag-' + tag).style.display = "block";
        document.getElementById('selected-tag-name').innerHTML= tag
    }
</script>

{% include pagefooter.html %}
